
@import url(spinner.css);

body {
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: hsla(0,0%,0%,0.02);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,0%,0.1);
}
