
@import url(spinner.css);
@import url(markdown.css);
@import url(scrollbar.css);
@import url(~highlight.js/styles/github.css);

body {
  font-family: Pingfang SC, Microsoft Yahei, Verdana, sans-serif;
}

.topic-title:link {
  color: hsl(0,0%,10%);
}

.topic-title:visited {
  color: hsl(0,0%,60%);
}
