
body {
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: hsla(0,0%,100%,0.05);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,100%,0.2);
}
