
.markdown-content img {
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid hsl(0,0%,94%);
}

.markdown-content pre {
  background-color: hsl(300,20%,98%);
  padding: 10px;
  overflow: auto;
}

.markdown-content pre,
.markdown-content code {
  font-family: Menlo, Consolas, Ubuntu Mono, monospace;
  line-height: 1.5em;
}

.markdown-content a {
  text-decoration: none;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}
