
@import url('sidebar.css');
@import url('topic-list.css');
@import url('topic-page.css');
@import url('post-page.css');
@import url('user-page.css');

.app-page {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.app-page .app-sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-page .topic-list,
.app-page .user-page,
.app-page .topic-page,
.app-page .post-page {
    flex: 1;
    padding: 1em 2em 400px 0.5em;
}