
.app-sidebar {
}

.app-sidebar > .nav {}

.app-sidebar > .nav .line {
    font-size: 16px;
    line-height: 2em;
}

.app-sidebar .home {
    cursor: pointer;
}

.app-sidebar .post {
    cursor: pointer;
}

.app-sidebar .account {}