
.topic-title {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.topic-title:hover {
    background-color: rgb(242, 242, 242);
}

.topic-title .title {
    line-height: 1.6;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
    color: black;
    flex: 1;
    font-weight: lighter;
}

.topic-title .title:visited {
    color: rgb(145, 145, 145);
}

.topic-title .avatar {
    width: 32px;
    height: 32px;
    background-size: cover;
    cursor: pointer;
}