
.topic-card {
}

.topic-card .nav-tab {
    text-align: right;
}

.topic-card .nav-tab a {
    cursor: pointer;
}

.topic-card .author {
    text-align: right;
    margin-top: 1em;
}

.topic-card .title {
    font-size: 30px;
    line-height: 2em;
    font-weight: bold;
}