
.user-card {
    cursor: pointer;
    display: inline-block;
}

.user-card .name {
    color: white;
    background: rgb(72, 218, 102);
    padding: 2px 0.5em;
    border-radius: 20px;
    vertical-align: middle;
}

.user-card .avatar {
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}