
.user-card {
    cursor: pointer;
    display: inline-block;
}

.user-card .name {
    color: white;
    background: rgb(128, 231, 149);
    padding: 0 20px;
    border-radius: 2px;
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
}

.user-card .avatar {
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}