
.button {
    display: inline-block;
    line-height: 1.6em;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    background: rgb(186, 164, 240);
    padding: 0 20px;
    line-height: 40px;
    color: white;
}

.button:hover {
    background: blue;
}

.button.is-important {
    background: rgb(255, 194, 83);
}

.button.is-danger {
    background: red;
}