
.module-editor {}

.module-editor .text {
    width: 100%;
    padding: 0.5em;
}

.module-editor .preview {
    margin: 0 0.5em;
}

.article-preview,
.module-editor .preview {
    line-height: 1.6em;
}

.article-preview pre,
.module-editor .preview pre {
    background-color: rgb(105, 29, 104);
    color: white;
    margin: 0 -1em;
    padding: 1em 1em;
    overflow-x: auto;
}

.article-preview pre code,
.module-editor .preview pre code {
    font-family: Menlo;
    font-size: 14px;
    line-height: 1.6em;
}

.article-preview img,
.module-editor .preview img {
    max-width: 80%;
    box-shadow: 0 0 4px gray;
    display: block;
    margin: 1em 0;
}

.article-preview a,
.module-editor .preview a {
    text-decoration: none;
}


.article-preview p code,
.module-editor .preview p cpde {
    background-color: rgb(181, 108, 186);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
}