
.module-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.81);
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module-overlay > .card {
    background-color: white;
    padding: 40px;
    border-radius: 2px;
}