
.module-select {}

.module-select .item {
    cursor: pointer;
    background: rgb(96, 209, 218);
    color: white;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 20px;
}

.module-select .item.is-chosen {
    background: rgb(124, 111, 236);
}