
.module-time {
    font-size: 14px;
    color: white;
    background: rgb(163, 242, 242);
    padding: 0 20px;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
}