
body {
  margin: 0;
  background: rgb(245, 245, 245);
}

body * {
  box-sizing: border-box;
  /* box-shadow: 0 0 1px rgb(255, 255, 255); */
}

body, input, textarea {
  font-family: Optima;
  font-size: 16px;
}

input, textarea {
  line-height: 1.6;
  font-size: 16px;
  padding: 0.5em;
  border: none;
  outline: none;
  box-shadow: 0 0 1px gray;
}

textarea {
    resize: vertical;
    min-height: 200px;
}

.line {
  display: block;
}

.pad {
  padding: 0.5em;
}

.line > * + * {
  margin-left: 0.5em;
}

.paragraph > * {
  display: block;
}

.paragraph > * + * {
  margin-top: 0.5em;
}

.divide > * + * {
  border-top: 1px solid rgb(223, 223, 223);
}