
@import url('app/layout.css');

@import url('module/cover.css');
@import url('module/button.css');

body {
  margin: 0;
  font-family: Optima;
}

body * {
  box-sizing: border-box;
}

input, textarea {
  line-height: 2em;
  font-size: 14px;
  outline: none;
  padding: 0 1em;
}